*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


.form-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(155deg, #212121, #9c2a38);
}

body h2{
  text-align: center;
}

/* .form-container{
  position: absolute;
  background-color: red;
  height: 100vh;
} */


.block{
  position:relative;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-bottom: 200px;
  box-shadow: #212121;
  border: 2px;
  border-color: black;
}

.form-group{
  display: flex;
}
.form-group input{
  flex: 1;
  background: transparent;
  border-style:groove;
  padding: 2px 5px;
}

button {
  cursor: pointer;
  background: transparent;
  border-style: ridge;
  padding: 3px 5px 3px 5px
}